extends ../templates/main

block variables
  - var title = 'Услуги'
  - var pageClass = 'secondary-page'

block content
  section.section-banner.section-banner--small.p-0
    div.h-100(style="background: url(/img/content/banner2.jpg) no-repeat center/cover")
    .banner-content
      .banner-title
        h4 Услуги
  section.section-catalog
    .container
      .row
        .col-lg-9.offset-lg-3
          .catalog-list.row.catalog-list--inner
            .col-sm-6.col-md-4
              .card-item.hit-item.new-item
                .card-item__item-new Новинка
                .card-item__item-hit Хит продаж
                .card-item__content
                  .card-item__photo(style="background-image: url(/img/content/item1.jpg)")
                  .card-item__material Рама пластиковая
                  .card-item__title Багетная рама 7551
                  .card-item__spec
                    .card-item__spec-title Размер:
                    .card-item__spec-value 30х40см
                  .card-item__spec
                    .card-item__spec-title Ширина профиля:
                    .card-item__spec-value 75мм
                  .card-item__spec
                    .card-item__spec-title Наличие:
                    .card-item__spec-value В наличии
                .card-item__footer
                  .card-item__price 3 480 ₽
                  .card-item__cart.btn
                    +icon('basket')
                    span Купить
            .col-sm-6.col-md-4
              .card-item
                .card-item__item-new Новинка
                .card-item__item-hit Хит продаж
                .card-item__content
                  .card-item__photo(style="background-image: url(/img/content/item2.jpg)")
                  .card-item__material Рама пластиковая
                  .card-item__title Багетная рама 7551
                  .card-item__spec
                    .card-item__spec-title Размер:
                    .card-item__spec-value 30х40см
                  .card-item__spec
                    .card-item__spec-title Ширина профиля:
                    .card-item__spec-value 75мм
                  .card-item__spec
                    .card-item__spec-title Наличие:
                    .card-item__spec-value В наличии
                .card-item__footer
                  .card-item__price 3 480 ₽
                  .card-item__cart.btn
                    +icon('basket')
                    span Купить
            .col-sm-6.col-md-4
              .card-item.hit-item.new-item
                .card-item__item-new Новинка
                .card-item__item-hit Хит продаж
                .card-item__content
                  .card-item__photo(style="background-image: url(/img/content/item1.jpg)")
                  .card-item__material Рама пластиковая
                  .card-item__title Багетная рама 7551
                  .card-item__spec
                    .card-item__spec-title Размер:
                    .card-item__spec-value 30х40см
                  .card-item__spec
                    .card-item__spec-title Ширина профиля:
                    .card-item__spec-value 75мм
                  .card-item__spec
                    .card-item__spec-title Наличие:
                    .card-item__spec-value В наличии
                .card-item__footer
                  .card-item__price 3 480 ₽
                  .card-item__cart.btn
                    +icon('basket')
                    span Купить
            .col-sm-6.col-md-4
              .card-item
                .card-item__item-new Новинка
                .card-item__item-hit Хит продаж
                .card-item__content
                  .card-item__photo(style="background-image: url(/img/content/item2.jpg)")
                  .card-item__material Рама пластиковая
                  .card-item__title Багетная рама 7551
                  .card-item__spec
                    .card-item__spec-title Размер:
                    .card-item__spec-value 30х40см
                  .card-item__spec
                    .card-item__spec-title Ширина профиля:
                    .card-item__spec-value 75мм
                  .card-item__spec
                    .card-item__spec-title Наличие:
                    .card-item__spec-value В наличии
                .card-item__footer
                  .card-item__price 3 480 ₽
                  .card-item__cart.btn
                    +icon('basket')
                    span Купить
            .col-sm-6.col-md-4
              .card-item.hit-item.new-item
                .card-item__item-new Новинка
                .card-item__item-hit Хит продаж
                .card-item__content
                  .card-item__photo(style="background-image: url(/img/content/item1.jpg)")
                  .card-item__material Рама пластиковая
                  .card-item__title Багетная рама 7551
                  .card-item__spec
                    .card-item__spec-title Размер:
                    .card-item__spec-value 30х40см
                  .card-item__spec
                    .card-item__spec-title Ширина профиля:
                    .card-item__spec-value 75мм
                  .card-item__spec
                    .card-item__spec-title Наличие:
                    .card-item__spec-value В наличии
                .card-item__footer
                  .card-item__price 3 480 ₽
                  .card-item__cart.btn
                    +icon('basket')
                    span Купить
            .col-sm-6.col-md-4
              .card-item
                .card-item__item-new Новинка
                .card-item__item-hit Хит продаж
                .card-item__content
                  .card-item__photo(style="background-image: url(/img/content/item2.jpg)")
                  .card-item__material Рама пластиковая
                  .card-item__title Багетная рама 7551
                  .card-item__spec
                    .card-item__spec-title Размер:
                    .card-item__spec-value 30х40см
                  .card-item__spec
                    .card-item__spec-title Ширина профиля:
                    .card-item__spec-value 75мм
                  .card-item__spec
                    .card-item__spec-title Наличие:
                    .card-item__spec-value В наличии
                .card-item__footer
                  .card-item__price 3 480 ₽
                  .card-item__cart.btn
                    +icon('basket')
                    span Купить
            .col-12
              .promo-banner.d-flex.align-items-center.p-5(style="background-image: url(/img/content/promo-banner.jpg)")
                h2.text-white.mb-0 Больше багетов<br> у нас в мастерской
            .col-sm-6.col-md-4
              .card-item
                .card-item__item-new Новинка
                .card-item__item-hit Хит продаж
                .card-item__content
                  .card-item__photo(style="background-image: url(/img/content/item2.jpg)")
                  .card-item__material Рама пластиковая
                  .card-item__title Багетная рама 7551
                  .card-item__spec
                    .card-item__spec-title Размер:
                    .card-item__spec-value 30х40см
                  .card-item__spec
                    .card-item__spec-title Ширина профиля:
                    .card-item__spec-value 75мм
                  .card-item__spec
                    .card-item__spec-title Наличие:
                    .card-item__spec-value В наличии
                .card-item__footer
                  .card-item__price 3 480 ₽
                  .card-item__cart.btn
                    +icon('basket')
                    span Купить
            .col-sm-6.col-md-4
              .card-item.hit-item.new-item
                .card-item__item-new Новинка
                .card-item__item-hit Хит продаж
                .card-item__content
                  .card-item__photo(style="background-image: url(/img/content/item1.jpg)")
                  .card-item__material Рама пластиковая
                  .card-item__title Багетная рама 7551
                  .card-item__spec
                    .card-item__spec-title Размер:
                    .card-item__spec-value 30х40см
                  .card-item__spec
                    .card-item__spec-title Ширина профиля:
                    .card-item__spec-value 75мм
                  .card-item__spec
                    .card-item__spec-title Наличие:
                    .card-item__spec-value В наличии
                .card-item__footer
                  .card-item__price 3 480 ₽
                  .card-item__cart.btn
                    +icon('basket')
                    span Купить
            .col-sm-6.col-md-4
              .card-item
                .card-item__item-new Новинка
                .card-item__item-hit Хит продаж
                .card-item__content
                  .card-item__photo(style="background-image: url(/img/content/item2.jpg)")
                  .card-item__material Рама пластиковая
                  .card-item__title Багетная рама 7551
                  .card-item__spec
                    .card-item__spec-title Размер:
                    .card-item__spec-value 30х40см
                  .card-item__spec
                    .card-item__spec-title Ширина профиля:
                    .card-item__spec-value 75мм
                  .card-item__spec
                    .card-item__spec-title Наличие:
                    .card-item__spec-value В наличии
                .card-item__footer
                  .card-item__price 3 480 ₽
                  .card-item__cart.btn
                    +icon('basket')
                    span Купить